{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"]
}
